@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BIENVENIDOS</h1>
    <p class="lead">
        Ejercicio evaluativo preingreso <br>
        Empresa: <a href="https://bitsion.com/bitsion/#/" class="btn btn-link  btn-lg"> BITSION</a> <br>
        Nombre proyecto: FICTICIA S.A.
    </p>
    <p><a href="/Cliente/Login" class="btn btn-primary btn-lg">Comenzar &raquo;</a></p>
    




</div>

<div class="row">
    <div class="col-md-4">
        <h2>Postulante</h2>
        <p>
            Ruiz Gonzalo - Técnico en Programación 
            
        </p>
    </div>
    <div class="col-md-4">
        <h2>Formación Académica</h2>
        <p>Tecnicatura Superior en Programación - UTN FRC - 2019 A 2021
        <br> Ingeniería en Sistema de Información - UTN FRC - 2011 A 2013
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contacto</h2>
        <p>
            Whatsapp: + 549 3525 563577 <br>
            <a href="https://linkedin.com/in/gonzalo-ruiz-baa89118a/" class="btn btn-primary btn-lg">Perfil linkedin &raquo;</a> <br>
            <a href="https://github.com/Gonzalo261" class="btn btn-primary btn-lg">Perfil github &raquo;</a>
        </p>
    </div>
</div>