USE [master]
GO
/****** Object:  Database [FicticiaSA]    Script Date: 30/9/2021 16:03:53 ******/
CREATE DATABASE [FicticiaSA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FicticiaSA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FicticiaSA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FicticiaSA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FicticiaSA_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FicticiaSA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FicticiaSA]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 30/9/2021 16:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[DNI] [int] NULL,
	[EDAD] [int] NULL,
	[GENERO] [int] NULL,
	[ESTADO] [bit] NULL,
	[MANEJA] [bit] NULL,
	[LENTES] [bit] NULL,
	[DIABETICO] [bit] NULL,
	[OTRA] [nvarchar](max) NULL,
 CONSTRAINT [PK_CLIENTE_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GENERO]    Script Date: 30/9/2021 16:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERO](
	[IDGENERO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
 CONSTRAINT [PK_GENERO] PRIMARY KEY CLUSTERED 
(
	[IDGENERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 30/9/2021 16:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[PASS] [nvarchar](50) NULL,
	[IDCLIENTE] [int] NULL,
	[ADMINISTRADOR] [bit] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_GENERO] FOREIGN KEY([GENERO])
REFERENCES [dbo].[GENERO] ([IDGENERO])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_GENERO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_CLIENTE] FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_CLIENTE]
GO
USE [master]
GO
